page-login {
  .login-content {
  
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  
    .login-box {
      padding: 20px 20px 0px 20px;
    }
  
    ion-row {
      align-items: center;
      text-align: center;

      img {
        max-height: 20rem; 
      }
    }
  
      ion-item {
          border-radius: 30px !important;
          padding-left: 30px !important;
          font-size: 0.9em;
          margin-bottom: 10px;
          border: 1px solid #dcdcdc !important;
          box-shadow: none !important;

          input {
            outline: none;
          }
      }
  
      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }
  
      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }
  
      .submit-btn {
        background: #51CFB1;
        border-radius: 30px !important;
      }
  }
}