.custom-loading-cursor {

    ion-backdrop {
        opacity: 0.4 !important;
    }

    .loading-wrapper {
        background: transparent;
        box-shadow: initial;
        -webkit-box-shadow: initial; 

        ion-spinner {
            height: 5rem;
            width: 5rem;
        }
    }
}